body {

    color: white;
}

#logo {

    background-color: rgb(255,0,0);
    height: 100px;
    margin: 20px;
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#main {

    background-image: url("./assets/images/deadpool_wallpaper.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 25px;
    height: 700px;
    margin: 10px;
}


#input {

    margin-top: 10px;
    width: 100%;

}

#game {

    border: double;
    border-color: black;
    padding: 0;
    
}

